body {
    background-color: #181a1b;
    font-family: "Courier New", monospace !important
}

.configState, .serverLog, .config {
    width: 1550px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(55, 60, 62);
    border-radius: 4px;
    background-color: rgb(36, 39, 41);
    resize: none;
    font-family: "Courier New", monospace;
    color: rgb(232, 230, 227);
    font-size: 12pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.editorWrapper {
    padding: 6px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(55, 60, 62);
    border-radius: 4px;
    background-color: rgb(36, 39, 41);
    width: 100%;
}

.config {
    height: 1200px;
    font-size: 12pt;
}

h3, h4, h5 {
    color: white;
}

.serverLog {
    font-size: 10pt;
}

.serverLog p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.save_button, .refresh_button {
    margin-left: auto;
    margin-right: 2px;
    float: right;
    margin-top: -5px;
    margin-bottom: 15px;
}

.main_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}

.git_image {
    margin-right: 8px;
    margin-bottom: -3px;
}

.saving_image {
    margin-bottom: -3px;
}

.commit_image {
    margin-right: 5px;
    margin-bottom: -3px;
}

.repo_list {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(55, 60, 62);
    border-radius: 4px;
    background-color: rgb(36, 39, 41);
}

.repo_list li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.commit_list {
    list-style-type: none;
    margin-left: 8px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    padding-inline-start: 15px; 
    padding-inline-end: 15px;   
    padding-top: 0px;
    padding-bottom: 0px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.commit_list li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.commit_list li:hover {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #222222;
}

.user_commit_list {
    list-style-type: none;
    margin-left: 8px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    padding-inline-start: 15px; 
    padding-inline-end: 15px;   
    padding-top: 0px;
    padding-bottom: 0px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.user_commit_list li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.user_commit_list li:hover {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #222222;
}

.commitByLine {
    margin-left: 0px;
    margin-top: 0px;
    padding-inline-start: 35px;
    font-size: 10pt;
    color: #cccccc;
}

.review_button {
    margin-left: 35px;
    margin-block-start: -2px;
    margin-block-end: 5px;
    font-size: 10pt;
}

.review_skip {
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: #666666;
    width: 60px;
    text-align: center;
    margin-right: 40px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-size: 10pt;
    width: 850px;
    color: #e8e6e3;
}

a {
    text-decoration: none;
    color: #e8e6e3;
}

a:visited {
    text-decoration: none;
    color: #c8c6c3;
}

.linkRepo {
    font-size: 12pt;
    color: #e8e6e3;
    font-weight: 500;
}

.linkRepo:visited {
    font-size: 12pt;
    color: #e8e6e3;
}

.linkCommit {
    font-size: 10pt;
    color: #c8c6c3;
    width: 800px;
    display: inline-block;
}

.linkCommit:visited {
    font-size: 12pt;
    color: #a8a6a3;;
}


.commitByLineDate {
    font-weight: 600;
    font-size: 10pt;
    color: #dd4b34;
}

.commitByLineUser {
    font-weight: 600;
    font-size: 10pt;
    color: #dd4b34;
}

.review_span {
    margin-top: -15px;
    margin-right: 0px;
    float: right;
}